*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

/*topo da pagina*/
.topo{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-topo{
    display: flex;
    justify-content:space-between;
    width: 90vw;
}

.conteudo-topo p{
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
}

.conteudo-topo span{
    color: rgb(0, 153, 255);
}

.topo-links{
    font-size: 15px;
    padding: 5px;
}

.topo a{
    margin-right: 15px;
    color: black;
}
/* Conteudo Principal*/

.container{
    background-image:url("/assets/img-fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    
}

.container .conteudo{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    background-color: rgba(93, 172, 110, 0.644);
    padding: 2% 4%;
    color: #ffffff;
    font-weight: bold;
}
/*sobre*/

.sobre{
    display: flex;
    flex-direction:column;
    height: 100vh;
}

.sobre-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sobre-conteudo h2{
    font-size: 2rem;
}

.container-info{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 6rem;
}

.card-info{
   display: flex;
   flex-direction: row;
   flex: 1 1 10rem;
   justify-content: center;  
}

.imagens-quartos{
    display: flex;
    flex-direction: column;
    height: 20rem;
}

.imagens-quartos img{
    height: 14rem;
    width: 21rem;
}

.conteudo-quartos{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom:0.2rem solid rgb(52, 121, 212);
}

/*Rotas*/

.rota{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rota-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 2rem;
}

.rota-conteudo h3{
    font-size: 1.5rem;
}
.rota-conteudo iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}